* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	background-color: #212529;
}

.container {
	background-color: #212529;
	color: #000000;
	max-width: 100% !important;
	margin-left: 0;
	padding-left: 0;
}

.row {
	margin-right: 0 !important;
    margin-left: 0 !important;
}

.control-cont {
	padding-left: 5px !important;
}

.btn-bbb {
    color: #fbfbfb;
    background-color: #12646f !important;
    border-color: #12646f !important;
}

.btn-bbb:hover {
    color: #fbfbfb;
    background-color: #53b0bd !important;
    border-color: #53b0bd !important;
}

.btn-bbb:active {
    color: #fbfbfb;
    background-color: #53b0bd !important;
    border-color: #53b0bd !important;
}

/* MAP */
#map {
	max-width:100%;
	max-height:100%;
	width: 100vw;
	height: 95vh; /* 100% of viewport height*/
}

.clock {
	position: absolute;
	display: flex;
	align-items: center;
    top: 5%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    color: #fbfbfb;
    font-size: 30px;
	letter-spacing: 7px;
	padding-left: 7px;
    z-index: 100;
    background-color: #32383e;
}

.clockweek{
	top: 5%;
	left: 17%;
}

.ol-attribution button{
	display: none !important;
}
/* MAP END*/

/* TIMELINE SLIDER*/
.slider {
    -webkit-appearance: none;
    width: 100%;
	/* height: 25px; */
	height: 4vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 1vh;
    background: #ff0000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 5px;
    background: #ff0000;
    cursor: pointer;
}

.summary2 {
	/* display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
    top: 600px;
	z-index: 1; */
	z-index: 1000;
}
/* TIMELINE SLIDER END*/


/* CHARTS */
#timelineChart{
	height: 35vh;
	position: absolute;
	left: -5.3%;
	z-index: 1;
}

#timelineChart2{
	height: 35vh;
	position: absolute;
	left: -5.5%;
	z-index: 1;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#timelineChart{
		width: 105%;
		left: -5.5%;
		bottom: 0;
	}
	
	#timelineChart2{
		width: 107%;
		left: -7%;
		bottom: 0;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#timelineChart{
		width: 105%;
		left: -5.3%;
		bottom: 0;
	}
	
	#timelineChart2{
		width: 107%;
		left: -7%;
		bottom: 0;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
	#timelineChart{
		width: 105%;
		left: -5.3%;
		bottom: 0;
	}
	
	#timelineChart2{
		width: 106%;
		left: -6%;
		bottom: 0;
	}
}


@media only screen and (min-width: 1400px) {
	#timelineChart{
		width: 105%;
		left: -5%;
		bottom: 0;
	}
	
	#timelineChart2{
		width: 106%;
		left: -6%;
		bottom: 0;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
	#timelineChart{
		width: 104.5%;
		left: -4.5%;
		bottom: 0;
	}
	
	#timelineChart2{
		width: 105%;
		left: -5%;
		bottom: 0;
	}
}

.highcharts-plot-background {
	width: 100vw !important;
	height: 100vh !important;
}
.highcharts-container{
		/* max-width: 100% !important;
		max-height: 100% !important; */
	/* width: 1262px;
    height: 300px; */
}

.highcharts-background{
	fill: transparent;
	/* fill: #ffffff; */
	/* opacity: 0.1;
	z-index: -10; */
}

.highcharts-yaxis{
	color: #000000 !important;
}

.highcharts-yaxis-labels text{
	fill: #fbfbfb !important;
	color: #fbfbfb !important;
	font-size: 12px !important;
	font-weight: 200;
}

.highcharts-yaxis-labels span{
	fill: #000000 !important;
	color: #000000 !important;
	font-size: 12px !important;
	font-weight: 200;
}

.highcharts-xaxis-labels span{
	fill: #000000 !important;
	color: #000000 !important;
	font-size: 12px !important;
	font-weight: 200;
}

.highcharts-xaxis-labels text{
	fill: #000000 !important;
	color: #000000 !important;
	font-size: 12px !important;
	font-weight: 200;
}

/* CHARTS END */

/* LOGO */
.img-log {
	max-width:100%;
	max-height:100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center; 
}


.img-log img {
	margin: 0;
	width: 20% !important;
	/* animation: App-logo-spin infinite 20s linear; */
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
  }
/* LOGO END */


/* SUGGESTION */

.list_suggestions {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
   
.list_suggestions  li {
	font-size: 12px;
	font-weight: 200px;
	border-bottom: 1px solid #c2b394;
	padding: 5px;
}
   
.list_suggestions li:last-child {
	border: none;
}
   
.list_suggestions li a {
	text-decoration: none;
	color: #fbfbfb;
	display: block;
	width: 200px;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
   
.list_suggestions  li a:hover {
	font-size: 10px;
	background: #12646f;
	color: #fbfbfb;
}
/* SUGGESTION END*/


/* FORM */
.inner-addon { 
	position: relative; 
}

/* style icon */
.inner-addon .fa-map-marker-alt {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #000000;
}

/* align icon */
.left-addon .fa-map-marker-alt  { left:  0px;}
.right-addon .fa-map-marker-alt { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/* FORM END*/

/* TABLE RESULT*/
.table {
	width: 85%;
	font-size: 12px !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #12646f !important;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
	border-top: 1px solid #12646f !important;
	border-bottom: 1px solid #12646f !important;
}

#icon_table i {
	padding-top: 3px;
	padding-bottom: 3px;
}
/* TABLE RESULT END*/

/* ICON */
.table .fas {
	font-size: 12px;
	color: #fbfbfb;
}
/* ICON END*/

.row .no-gutters {
	margin-right: 0 !important;
	margin-left: 0 !important;
  }

  /* MODAL */
.modal{
	color: #000000;
	width: 1100px !important;	
}

.modal-content{
	width: 800px !important;
	display: flex;
	align-items: center;
	background-color: #ececec;
}

#btnModalTop{
	display: none;
}

.top_chart{
	width: 600px !important;
	height: 225px !important;
	fill: #000000;
}

.top_chart .highcharts-yaxis-labels text {
	fill: #000000 !important;
	/* stroke: #000000 !important; */
    font-size: 10px !important;
    font-weight: 100;
}

.xtopChart{
	
	font-weight: 10 !important;
	font-size: 10px !important;
}

.ytopChart{
	font-weight: 10 !important;
	font-size: 10px !important;
}
/* MODAL END*/


@media (min-width: 1025px) and (max-width: 1280px) {
	/* MODAL */
	.modal-dialog{
		max-width: 500px !important;
	}
	/* MODAL END*/
}


@media screen and (min-width: 1400px) {

	/* CHARTS */
/* #timelineChart{
	width: 1490px;
    height: 300px;
	position: absolute;
	top: 65px;
	left: -75px;
} */

/* #timelineChart2{
	position: absolute;
	left: -75px;
} */


/* .highcharts-container{
	width: 1462px;
    height: 300px;
} */

.highcharts-background{
	fill: transparent;
	/* fill: #ffffff; */
	/* opacity: 0.1;
	z-index: -10; */
}


.highcharts-yaxis-labels text{
	font-size: 14px !important;
	font-weight: 200;
}

.highcharts-yaxis-labels span{
	font-size: 14px !important;
	font-weight: 200;
}

.highcharts-xaxis-labels span{
	font-size: 14px !important;
	font-weight: 200;
}

.highcharts-xaxis-labels text{
	font-size: 14px !important;
	font-weight: 200;
}

/* CHARTS END */

	/* MODAL */
	.modal-dialog {
		margin-top: 50px;
		margin-bottom: 0;
		height: 90vh;
		display: flex;
		/* flex-direction: column; */
		justify-content: center;
		max-width: 70vw !important;
	  }
	 
	.modal{
		width: 100% !important;	
	}

	.modal-content{
		width: 50vw !important;
	}

	.top_chart{
		width: 600px !important;
		height: 325px !important;
	}

	.top_chart .highcharts-yaxis-labels text {
		/* stroke: #000000 !important; */
		font-size: 10px !important;
		font-weight: 100;
	}

	.xtopChart{
		font-weight: 10 !important;
		font-size: 10px !important;
	}

	.ytopChart{
		font-weight: 10 !important;
		font-size: 10px !important;
	}
	 /* MODAL END*/
	
}